@font-face {
    font-family: 'TGPraktikal-Bold';
    src: url(../fonts/TGPraktikalTrials-Bold.otf);
}

@font-face {
    font-family: 'TGPraktikal-UltraLight';
    src: url(../fonts/TGPraktikalTrials-UltraLight.otf);
}